:root {
    --bg-color: #1a1a2e;
    --text-color: #eeeeee;
    --accent-color: #00bcd4;
    --accent-hover: #4dd0e1;
    --card-color: #24243e;
}

/* Base */

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

label {
    color: var(--text-color);
}

/* Buttons */

button {
    padding: 15px;
    background-color: var(--accent-color);
    color: var(--bg-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover{
    background-color: var(--accent-hover);
}

/* Form */

#applicationForm{
    max-width: 500px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    gap: 12px;
}

input, select, textarea{
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
}

.field{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* Controls */
#summary{
    text-align: center;
}

#controls{
    max-width: 500px;
    margin: 20px auto;
}

/* Application List */

#applicationList {
    list-style: none;
    padding: 0;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card {
    background-color: var(--card-color);
    padding: 15px;
    border-radius: 15px;
}

.card h3, .card p {
    margin: 4px 0;
}

.card a {
    color: var(--accent-color);
    display: block;
    margin: 6px 0 10px;
}

/* delete button css */
.delete-button{
    opacity: 50%;
}

.delete-button:hover {
    background-color: #820303;
    opacity: 100%;
    color: var(--text-color);
}